html {
    color: fuchsia;
}

/*
body {
    color: blue;
    background-color: coral;
}
*/

h1 {
    color: #4b375e;
/*    background-color: beige;*/
    font-family: 'arial';
}


.cis-260 {
/*    color: chartreuse;*/
/*    background-color: cadetblue;*/
    font-family: cursive
}

.test {
/*    background-color: lightgreen;*/
}


.link {
/*    background-color: thistle;*/
}


p {
    color: #ff0000;
    font-size: 22pt;
/*    background-color: paleturquoise;*/
}


#special-paragraph {
    color: #0000ff; 
}

#special-paragraph-2 {
    font-family: 'times'
}

body  p a {
    font-family: cursive
}

a {
    color: red;
}